* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
	color: #f0f8ff;
}
html{
	background-color: #fff;
	display: flex;
  	align-items: center;
  	justify-content: center;
 	height: 100%;
	overflow:hidden;
}
body {
	height: 90vh;
	min-width: 280px;
	width: 80%;
	border: 5px dashed #fff;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	overflow-y: auto;
}

h1 {
	font-size: 1.5rem;
	text-align: center;
	padding: 1em;
}

main {
	margin: 1rem auto;
	padding: 1rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
}

input,
button{
	padding: 0.2rem;
	border: 3px solid;
	border-radius: 5px;
}
input{
	background-color: black;
	color: #f0f8ff;
	border-color: #f0f8ff;
}
button {
	margin: 0.5rem;
	margin-bottom: 20px;
	background-color: black;
	color: #f0f8ff;
	box-shadow: 0px 10px 0px 0px #f0f8ff;
}

button:hover{
	background-color: rgb(179, 179, 255);
	color: #000000;
	border: 3px solid #f0f8ff;
	
	box-shadow: 0 10px 0 #f0f8ff,
                5px 15px 0 rgb(223, 179, 255),
                -5px 10px 0px rgb(102, 102, 252),
                15px 10px 0px rgb(84, 84, 172);
}


.input {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}


.output {
	padding: 0.5rem;
	margin:1em auto;
	width: 95%;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	padding: 5px;
	gap: 1em;
	justify-content: center;
	margin: 5px;
}
label{
	font-weight: bold;
}
label.checked {
	text-decoration: line-through;
  }
.important *{
	font-weight: bolder;
	border: 3px solid gold;
	padding: 1px;
	box-shadow: 0px 10px 0px 0px gold;
}
.important label{
	border: none;
	box-shadow: none;
	color: rgb(179, 179, 255);
}
.important input[type="checkbox"] {
	border: 3px solid #f0f8ff;
	box-shadow: none;
}
.delete {
	border: 3px solid #f0f8ff;
	box-shadow: 0px 10px 0px 0px #f0f8ff;
}
input[type="checkbox"]{
	appearance: none;
	-webkilt-appearance: none;
	background-color: #000000;
	border-radius: 3px;
	height: 20px;
	width: 20px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
input[type="checkbox"]:after{
	content: "✓";
	font-weight: bold;
	font-size: 20px;
	color: #f0f8ff;
	display: none;
}
input[type="checkbox"]:hover{
	background-color: rgb(179, 179, 255);
	box-shadow: 0 7px 0 #f0f8ff,
                5px 11px 0 rgb(223, 179, 255),
                -5px 10px 0px rgb(102, 102, 252),
                12px 5px 0px rgb(84, 84, 172);
}
input[type="checkbox"]:checked{
	background-color: rgb(179, 179, 255);
	box-shadow: 0px 10px 0px 0px #f0f8ff;
	margin-bottom: 10px;
}
input[type="checkbox"]:checked:hover{
	box-shadow: 0 7px 0 #f0f8ff,
                5px 11px 0 rgb(223, 179, 255),
                -5px 10px 0px rgb(102, 102, 252),
                12px 5px 0px rgb(84, 84, 172);
}
input[type="checkbox"]:checked:after{
	display: block;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 70%;
	}
}
@media only screen and (max-width: 82rem) {
	body{
		width: 90vw;
	}
	main{
		width: 90%;
	}
}
@media only screen and (max-width: 31.188rem){

	body{
		width: 93%;
		margin: 0 auto;
		height: 95%;
	}
	main{
		width: 99%;
		height: 100%;
	}
	.input{
		flex-direction: column;
	}
	h1{
		font-size: 1.27rem;
	}
	li {
		gap: 5px;
	}
	.output{
		border: none;
	}
}